$font-family-secondary: var(--font-family-secondary);
$color-warning: var(--color-warning);
$color-success: var(--color-success);

.validation-message {
    font-family: $font-family-secondary;
    color: $color-warning;
    margin-top: 4px;
    margin-left: 4px;
    font-size: 12px;
}