.btn {
  display: inline-block;
  font-family: var(--font-family-primary);
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: var(--border-width) solid var(--color-white);
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: 12px 28px;
  margin-top: 12px;
  margin-bottom: 12px;
  box-shadow: var(--shadow-v) var(--shadow-h) var(--shadow-blur) var(--shadow-spread) var(--color-shadow);
  transition: background-color var(--transition-time) ease, color var(--transition-time) ease;

  &:hover {
    background-color: var(--color-white);
    color: var(--color-black);
  }
}