.pagination {
  display: flex;
  justify-content: center;

  &_item {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-family: var(--font-family-primary);
    padding: 8px;
    margin-right: 2px;
    border-radius: var(--border-radius);
    cursor: pointer;
  }

  &_item__active {
    color: var(--color-warning);
    font-weight: bold;
    cursor: not-allowed;
  }
}