.alert {
    font-family: var(--font-family-primary);
    text-align: center;
    margin-bottom: 18px;

    &--warning {
        color: var(--color-warning);
    }

    &--success {
        color: var(--color-success);
    }
}